@page "/fetchdata"
@using AdminUiWasm.CatalogApi

@inject HttpClient Http

@inject catalog_apiClient client

@inject NavigationManager NavigationManager



@if (catalogTypes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>Burger Queen</h1>

    <p>This component demonstrates fetching data from the server.</p>

    <p>Create type</p>
    <div>
        <button type="submit" class="btn btn-primary" @onclick="CreateType">Create</button>
    </div>
    <br />
    <p>Create item</p>
    <div>
        <button type="submit" class="btn btn-primary" @onclick="CreateItem">Create</button>
    </div>
    <br />

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var type in catalogTypes)
            {
                <tr>
                    <td>@type.Id</td>
                    <td>@type.Type</td>
                    <td><button type="submit" class="btn btn-primary" @onclick="()=>UpdateType(type.Id)">Update</button></td>
                    <td><button type="submit" class="btn btn-primary" @onclick="()=>DeleteType(type.Id)">Delete</button></td>
                    <br />
                    <br />
                    <br />

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Item</th>
                                <th>Description</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (catalogItems == null)
                            {
                                <p><em>Loading...</em></p>
                            }
                            else
                            {
                                @foreach (var item in catalogItems)
                                {
                                    if (item.CatalogTypeId == type.Id)
                                    {
                                        <tr>
                                            <td>@item.Id</td>
                                            <td>@item.Name</td>
                                            <td>@item.Description</td>
                                            <t>@item.Price</t>>
                                            <td><button type="submit" class="btn btn-primary" @onclick="()=>UpdateItem(item.Id)">Update</button></td>
                                            <td><button type="submit" class="btn btn-primary" @onclick="()=>DeleteItem(item.Id)">Delete</button></td>
                                        </tr>
                                        <br />
                                    }
                                }
                            }
                        </tbody>
                    </table>

                </tr>
            }
        </tbody>
    </table>
}

@code {
    CatalogType type = new CatalogType();
    CatalogItem item = new CatalogItem();

    private IEnumerable<CatalogApi.CatalogType> catalogTypes;
    private IEnumerable<CatalogApi.CatalogItem> catalogItems;

    protected override async Task OnInitializedAsync()
    {
        catalogTypes = await client.GetAllCatalogTypesAsync();
        catalogItems = await client.GetAllCatalogItemsAsync();
    }

    private void CreateType()
    {
        NavigationManager.NavigateTo("/CreateType");
    }

    private async Task UpdateType(int id)
    {
        type = await client.GetCatalogTypeByIdAsync(id);
        NavigationManager.NavigateTo($"/UpdateType/{type.Id}");
    }

    private async Task DeleteType(int id)
    {
        type = await client.GetCatalogTypeByIdAsync(id);
        NavigationManager.NavigateTo($"/DeleteType/{type.Id}");
    }

    private void CreateItem()
    {
        NavigationManager.NavigateTo("/CreateItem");
    }

    private async Task UpdateItem(int id)
    {
        item = await client.GetCatalogItemByIdAsync(id);
        NavigationManager.NavigateTo($"/UpdateItem/{item.Id}");
    }

    private async Task DeleteItem(int id)
    {
        item = await client.GetCatalogItemByIdAsync(id);
        NavigationManager.NavigateTo($"/DeleteItem/{item.Id}");
    }
}
